.signup {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup h1 {
    font-size: 3rem;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    padding: 15px 0;
}

.signup form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.signup form input:not([type='submit']) {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    outline: none !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    color: black;
}


.signup form button {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    outline: none !important;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
    color: black;
    background: white;
    cursor: pointer;
    transition: 0.3s linear;
}

.signup form button:hover {
    background: black;
    color: white;
}