<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory card game</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    
    <p class="header">
        <span class="material-symbols-outlined">
            style
            </span>
            &nbsp;
        Memory Card Game
            &nbsp;
        <span class="material-symbols-outlined">
            style
            </span>
        <div class="player">
            Player Name
        </div>
    </p>
    
    <div class="wrapper">
    <ul class="cards">
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-1.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-2.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-3.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-4.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-5.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-6.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-5.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-6.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-1.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-2.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-3.png" alt="card-img">
        </div>
        </li>
        <li class="card">
        <div class="view front-view">
            <img src="images/que_icon.svg" alt="icon">
        </div>
        <div class="view back-view">
            <img src="images/img-4.png" alt="card-img">
        </div>
        </li>
        <div class="details">
            <p class="time">Time: <span><b>20</b>s</span></p>
            <p class="flips">Flips: <span><b>0</b></span></p>
        <button>Refresh</button>
        </div>
    </ul>
    </div>

    <script src="script.js"></script>

</body>
</html>